@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>Hogwarts</h1>
</div>
<div class="row">
	<div class="col-md-4">
		<h2>Welcome to Hogwarts School of Witchcraft and Wizardry</h2>
		<p>
			Hogwarts is a School for gifted youngsters
			to learn the intricacies of magic. 
			With our seven year school, your children
			will learn all about magic and not so much
			about math, writing and geography.
		</p>
	</div>

	<a href="~/Student/Index" class="btn-block">See our students!</a>


</div>